@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="baitap4.css">
    <script src="~/baitap4.js"></script>
    <title>Profile</title>
</head>
<body>
    <script src="baitap4.js"></script>
    <div class="main">
        <div class="avatar">
            <img src="https://st4.depositphotos.com/14903220/22197/v/450/depositphotos_221970610-stock-illustration-abstract-sign-avatar-icon-profile.jpg" alt="">
        </div>
        <div class="main-content">
            <div class="profile">
                <h1>Profile Settings</h1>
                <div class="profile-in4">
                    <div>
                        User name
                    </div>
                    <form>
                        <input type="text" name="" id="" style="width: 700px; height:25px;border-radius: 5px;border: solid 1px grey;">
                    </form>
                </div>
                <div class="profile-in4">
                    <div>
                        Full name
                    </div>
                    <form>
                        <input type="text" name="" id="" style="width: 700px; height:25px;border-radius: 5px;border: solid 1px grey;">
                    </form>
                </div>
                <div class="profile-in4">
                    <div>
                        Birthday
                    </div>
                    <form>
                        <input type="date" name="" id="" style="width: 700px; height:25px;border-radius: 5px;border: solid 1px grey;">
                    </form>
                </div>
                <div class="profile-in4">
                    <div>
                        Email
                    </div>
                    <form>
                        <input type="text" name="" id="" style="width: 700px; height:25px;border-radius: 5px;border: solid 1px grey;">
                    </form>
                </div>
                <div class="profile-in4">
                    <div for="myform_phone">
                        Phone number
                    </div>
                    <form>
                        <input type="text" name="" id="myform_phone" style="width: 700px; height:25px;border-radius: 5px;border: solid 1px grey;">
                        <div id="phone_error" class="error hidden">Please enter a valid phone number</div>
                    </form>
                </div>
                <div class="profile-in4">
                    <div>
                        Address
                    </div>
                    <form>
                        <input type="text" name="" id="" style="width: 700px; height:25px;border-radius: 5px;border: solid 1px grey;">
                    </form>
                </div>
                <div class="profile-in4">
                    <div>
                        City
                    </div>
                    <form>
                        <input type="text" name="" id="" style="width: 700px; height:25px;border-radius: 5px;border: solid 1px grey;">
                    </form>
                </div>
                <div class="profile-in4">
                    <div>
                        Image Profile
                    </div>
                    <form>
                        <input type="file" name="fileupload" accept="image/*" />
                    </form>
                </div>
                <div class="save">
                    <button type="submit">
                        Save Profile
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
